<div class="tweet">
  <a href="#" class="media">
    <img src="<%= image_path('diet-coke-bottle-small.png') %>" alt="<%= tweet.user.handle %>'s avatar" />
  </a>
  <div class="body">
    <div class="heading">
      <a href="<%= user_path(tweet.user) %>" class="user">
        <strong><%= tweet.user.handle %></strong>
      </a>
      <time class="time">seen <%= pluralize(tweet.counter, 'time') %></time>
    </div>
    <div class="content">
      <% if highlighted?(tweet.message) %>
      <p class="highlighted"><%= tweet.message %></p>
      <% else %>
      <p><%= tweet.message %></p>
      <% end %>
    </div>
    <div class="sentiment">
      <%= sentiment_image_tag(tweet.sentiment) %>
    </div>
  </div>
</div>
